body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    /* height: 97vh; */
    margin: 5px;
    display: grid;
    grid-template: 1fr 4fr 60px/ 350px 1fr;
    grid-template-areas:
        "nav    header"
        "nav    main"
        "footer footer"
    ;
    gap: 5px;
}

nav, header, main, footer {
    border-radius: 20px;
}

nav {
    background-color: #4F7232;
    grid-area: nav;
    color: #BED6A9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto  auto;
}

nav img {
    width: 35px;
    height: 35px;
}

nav ul {
    list-style-type: none;
    display: grid;
    align-content: space-around;
}

nav li {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

nav a {
    font-size: 1.5em;
    color: #BED6A9;
}

.logo {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.logo-image img {
    width: 50px;
    height: 50px;
}

header {
    background-color: #BED6A9;
    grid-area: header;
    color: #2B3856;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header img {
    width: 35px;
    height: 35px;
}

.upper-part {
    display: grid;
    grid-template-columns: 6fr 3fr;
    align-items: center;
}

.search {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-content: center;
    justify-items: start;
}

.search input {
    border-radius: 10px;
    border: 3px #2B3856 solid;
    size: 300em;
}

#personal {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(100px, 1fr) minmax(20em, 7fr);
    justify-items: center;
    align-items: center;
}

.avatar {
    width: 70px;
    height: 70px;
    border: 3px #2B3856 solid;
    border-radius: 50%;
}

#user-name {
    font-size: 1.5em;
    font-weight: 600;
    text-align: right;
}

main {
    background-color: #F1E8BE;
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #838CA1;
    padding: 20px;
    text-align: center;
    color: #BED6A9;
}

footer p {
    display: inline;
    margin: 0 50px;
}

footer a {
    text-decoration: none;
    color: #BED6A9;
    font-size: 1.2em;
    font-weight: 600;
}